In [70]:
import pandas as pd
import numpy as np
import scipy

In [71]:
rating_data = pd.read_csv('ml-1m/ratings.dat', header=None, sep='::')
rating_data.columns = ['UserID', 'MovieID', 'Rating', 'Timestamp']
rating_data.drop(columns=['Timestamp'], axis=1, inplace=True)

<ipython-input-71-df9ad78f5e15>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  rating_data = pd.read_csv('ml-1m/ratings.dat', header=None, sep='::')

In [72]:
rating_data

         UserID  MovieID  Rating
0             1     1193       5
1             1      661       3
2             1      914       3
3             1     3408       4
4             1     2355       5
...         ...      ...     ...
1000204    6040     1091       1
1000205    6040     1094       5
1000206    6040      562       5
1000207    6040     1096       4
1000208    6040     1097       4

[1000209 rows x 3 columns]

In [73]:
movies_cnt = max(rating_data['MovieID']) + 1
users_cnt = max(rating_data['UserID']) + 1

In [74]:
rating_data.shape

(1000209, 3)

## Training testing split

In [75]:
rating_train = rating_data.sample(frac=0.8, random_state=200)
rating_test = rating_data.drop(rating_train.index)

In [76]:
matrix = np.zeros(shape=(users_cnt, movies_cnt))
matrix.shape

(6041, 3953)

In [77]:
for row in rating_train.itertuples():
    matrix[row.UserID][row.MovieID] = row.Rating
matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 3., 0., ..., 0., 0., 0.]])

In [78]:
mean_item_rating = matrix.mean(axis=0)
mean_item_rating.shape

(3953,)

## Using Item-item based

In [79]:
for i in range(users_cnt):
    for j in range(movies_cnt):
        if matrix[i][j] != 0:
            matrix[i][j] -= mean_item_rating[j]
        else:
            matrix[i][j] = -100

In [ ]:
def pearson_coorelation(x, y):
    return scipy.stats.pearsonr(x, y)

In [80]:
item_similarity = np.zeroes(shape=(movies_cnt, movies_cnt))
for i in range(movies_cnt):
    for j in range(i + 1, movies_cnt):
        current = pearson_coorelation

array([[-100.        , -100.        , -100.        , ..., -100.        ,
        -100.        , -100.        ],
       [-100.        , -100.        , -100.        , ..., -100.        ,
        -100.        , -100.        ],
       [-100.        , -100.        , -100.        , ..., -100.        ,
        -100.        , -100.        ],
       ...,
       [-100.        , -100.        , -100.        , ..., -100.        ,
        -100.        , -100.        ],
       [-100.        , -100.        , -100.        , ..., -100.        ,
        -100.        , -100.        ],
       [-100.        ,    1.85631518, -100.        , ..., -100.        ,
        -100.        , -100.        ]])